doctype html
html
    head
        title="Simple Tome Class LaTEX generator"
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        // Bootstrap
        link( href="../css/yeti.min.css", rel="stylesheet")

        // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
        // WARNING: Respond.js doesn't work if you view the page via file://
        //[if lt IE 9] <!
            script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
            script(src='https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js')
        // <![endif]
    //</head>
    body
        nav( class="navbar navbar-default navbar-fixed-top")
            div( class="container" )

                div( class="navbar-header" )
                    a( href="https://github.com/SqueeG/awesomeTome", class="navbar-brand") TRD : tools
                    button( class="navbar-toggle", type="button", data-toggle="collapse", data-target="#navbar-main")
                        span( class="icon-bar" )
                        span( class="icon-bar" )
                        span( class="icon-bar" )

                div( class="navbar-collapse collapse", id="navbar-main")
                    ul( class="nav navbar-nav")
                        li
                            a( href="../" ) SqueeG()

                    ul( class="nav navbar-nav navbar-right" )
                        li
                            a( href="http://bootswatch.com/yeti/", target="_blank" ) Themed by Bootswatch (Yeti)
                        li
                            a( href="http://builtwithbootstrap.com/", target="_blank") Built off Bootstrap


        div.container
            div.page-header#banner
                div.row
                    div.col-lg-6
                    h1 TC<sup>2</sup>
                    p.lead Tome class table creator

            div.bs-docs-section
                div.row
                    div.col-lg-20
                        div.well
                            
                            form(class="bs-example form-horizontal", role="form" )
                                fieldset
                                    legend Let's Start!
                                    div.form-group
                                        label( for="classentry", class="col-sm-1 control-label") Class Name
                                        div.col-md-2
                                            input( type="text", class="form-control", id="classentry", placeholder="Class Name")
                                    div.form-group
                                        label( for="bab", class="col-xs-1 control-label") BAB
                                        div.col-md-1
                                            select( class="form-control", id="bab", name="2")
                                                option( value="") ---
                                                option( value="goodbab") good
                                                option( value="modebab") medium
                                                option( value="poorbab") bad

                                        label.col-xs-1.control-label(for='for') Fort Save
                                        div.col-md-1
                                            select#for.form-control(name='3')
                                                option( value="") ---
                                                option( value="goodfor") good
                                                option( value="poorfor") bad
                                            
                                        label.col-xs-1.control-label(for='ref') Ref Save
                                        div.col-md-1
                                            select#ref.form-control(name='4')
                                                option( value="") ---
                                                option( value="goodref") good
                                                option( value="poorref") bad
                                            
                                        label.col-xs-1.control-label(for='wil') Will Save
                                        div.col-md-1
                                            select#wil.form-control(name='5')
                                                option( value="" ) ---
                                                option( value="goodwil") good
                                                option( value="poorwil") bad

                                    .form-group
                                        label.col-sm-1.control-label(for='quot') Quote
                                        .col-lg-4
                                            input#quot.form-control(type='text', placeholder='\'Go for the eyes Boo! THE EYES!\'')

                                    .form-group
                                        label.col-sm-1.control-label(for='desc') Class Description
                                        .col-lg-5
                                          textarea#desc.form-control(rows='3')
                                          span.help-block Class description, you should write one, two... maybe three paragraphs even.

                                    .form-group
                                        label.col-sm-1.control-label(for='playingaclass') Playing the Class
                                        .col-lg-5
                                          textarea#playingaclass.form-control(rows='3')
                                          span.help-block Brief advice on how to play the class should go here

                                    .form-group
                                        label.col-sm-1.control-label(for='alignment') Alignment restrictions
                                        .col-md-2
                                          input#alignment.form-control(type='text', placeholder='Derp.')
                                          span.help-block Not suggested

                                    .form-group
                                        label.col-sm-1.control-label(for='races') Race restrictions
                                        .col-md-2
                                          input#races.form-control(type='text', placeholder='What do you mean I can\'t play this?')
                                          span.help-block Not suggested

                                    .form-group
                                        label.col-sm-1.control-label(for='startinggold') Starting Gold
                                        .col-md-2
                                          input#startinggold.form-control(type='text', placeholder='All teh muneez')
                                          span.help-block e.g : "gold6d4x10 gp (150 gold)"

                                    .form-group
                                        label.col-sm-1.control-label(for='hitdie') Hit Die (HD)
                                        .col-md-2
                                          input#hitdie.form-control(type='text', placeholder='d12s all around!')

                                    .form-group
                                        label.col-sm-1.control-label(for='classskills') Class Skills
                                        .col-md-6
                                          input#classskills.form-control(type='text', placeholder='To be replaced with a checklist... eventually')
                                          span.help-block Search, Spot, Listen, Percepti-wari-fication... it's all good.

                                    .form-group
                                        label.col-sm-1.control-label(for='skillpoints') Skill Points
                                        .col-md-1
                                          input#skillpoints.form-control(type='text', placeholder='0')
                                    //
                                         custom rows not yet ready 
                                    .form-group
                                        label.control-label(for='classtable') Class table custom rows
                                        input#classtable.form-control(type='text', placeholder='Custom rows to be added... soon (tm).', disabled='')
                                    .form-group
                                        table.table.table-bordered
                                            thead
                                                tr
                                                    th #
                                                    th First Name
                                                    th Last Name
                                                    th Username
                                            tbody
                                                tr
                                                    td(rowspan='2') 1
                                                    td Mark
                                                    td Otto
                                                    td @mdo
                                                tr
                                                    td Mark
                                                    td Otto
                                                    td @TwBootstrap
                                                tr
                                                    td 2
                                                    td Jacob
                                                    td Thornton
                                                    td @fat
                                                tr
                                                    td 3
                                                    td(colspan='2') Larry the Bird
                                                    td @twitter

                                        table#feature-table.table.table-bordered
                                            thead
                                                tr
                                                    th Level
                                                    th Class Features
                                        
                                        .input-group
                                            input#addcol.form-control(type='text')
                                            .input-group-btn
                                                button#ftr-add-col.btn.btn-default(type='button', tabindex='-1') Add column
                                    .form-group
                                        label.control-label Class Feature
                                        .input-group
                                            .input-group-btn
                                                //- Button and dropdown menu 
                                                button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown', tabindex='-1') Level
                                                    span.caret
                                                ul#CFlevels.dropdown-menu.pull-left
                                                    //-
                                                        <li><a href="#">Action</a></li>
                                                        <li><a href="#">Another action</a></li>
                                                        <li><a href="#">Something else here</a></li>
                                                        <li class="divider"></li>
                                                        <li><a href="#">Separated link</a></li
                                            input#classfeature.form-control(type='text')

                                            .input-group-btn
                                                button.btn.btn-default(type='button', tabindex='-1') Action

                                    //-    
                                        .form-group
                                        label.col-sm-1.control-label(for='levelone') Level One
                                          .col-md-6
                                            input#levelone.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block Separate each class ability with commas
                                        .form-group
                                          label.col-sm-1.control-label(for='leveltwo') Level Two
                                          .col-md-6
                                            input#leveltwo.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelthree') Level Three
                                          .col-md-6
                                            input#levelthree.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelfour') Level Four
                                          .col-md-6
                                            input#levelfour.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelfive') Level Five
                                          .col-md-6
                                            input#levelfive.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelsix') Level Six
                                          .col-md-6
                                            input#levelsix.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelseven') Level Seven
                                          .col-md-6
                                            input#levelseven.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='leveleight') Level Eight
                                          .col-md-6
                                            input#leveleight.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelnine') Level Nine
                                          .col-md-6
                                            input#levelnine.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelten') Level Ten
                                          .col-md-6
                                            input#levelten.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='leveleleven') Level Eleven
                                          .col-md-6
                                            input#leveleleven.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='leveltwelve') Level Twelve
                                          .col-md-6
                                            input#leveltwelve.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelthirteen') Level Thirteen
                                          .col-md-6
                                            input#levelthirteen.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelfourteen') Level Fourteen
                                          .col-md-6
                                            input#levelfourteen.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelfifteen') Level Fifteen
                                          .col-md-6
                                            input#levelfifteen.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelsixteen') Level Sixteen
                                          .col-md-6
                                            input#levelsixteen.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelseventeen') Level Seventeen
                                          .col-md-6
                                            input#levelseventeen.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='leveleighteen') Level Eighteen
                                          .col-md-6
                                            input#leveleighteen.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='levelnineteen') Level Nineteen
                                          .col-md-6
                                            input#levelnineteen.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                        .form-group
                                          label.col-sm-1.control-label(for='leveltwenty') Level Twenty
                                          .col-md-6
                                            input#leveltwenty.form-control(type='text', placeholder='Class Ability x/day, Movement Abilty +15\', etc...')
                                            span.help-block
                                    -//

                                    .form-group
                                      label.col-lg-2.control-label(for='texout') LaTEX output
                                      .col-lg-5
                                        textarea#texout.form-control(rows='3')
                                        span.help-block Copy and paste this into a .tex file



            //- jQuery (necessary for Bootstrap's JavaScript plugins)
            script( src="https://code.jquery.com/jquery.js")
            //- Include all compiled plugins (below), or include individual files as needed 
                <script src="js/bootstrap.min.js"></script>
                <script src="js/autosize.min.js"></script>
                <script src="base-class.js"></script>
            script( src="../js/bootstrap.min.js")
            script( src="../js/autosize.min.js")
            script( src="./base-class.js")
            script( src="./trd-lib.js")